<!-- chat.component.html -->

<div class="chat-container">
    <div class="chat-history">
      <div *ngFor="let message of messages">
        <div *ngIf="message.role === 'user'" class="user-message">
          {{ message.content }}
        </div>
        <div *ngIf="message.role === 'system'" class="system-message">
          <pre>{{ message.content }}</pre>
        </div>
      </div>
    </div>
    <div class="chat-input">
      <input type="text" [(ngModel)]="userInput" placeholder="Type a message...">
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
  